<div class="myContainer" >
  <div class="empty"></div>
  <div >
    <img src="assets/logo.png" style="height: 200px; width: 200px;">
  </div>
  <div style="margin-right: 20px;">
    <button  [routerLink]="['/user/login']" routerLinkActive="router-link-active"  type="button" class="rightElement customBtn" style="margin: 3px;">Login</button>
    <button [routerLink]="['/user/register']" routerLinkActive="router-link-active"  type="button" class="rightElement customBtn" style="margin: 3px;">Register</button>
  </div>
</div>
<hr style="width: 80%; background-color: rgb(185, 53, 35);">
